<!-- Main Wrap Start -->
<header class="main-header header-style-2 header-style-3">
    <div class="top-bar background4 d-none d-md-block color-white">
        <div class="container">
            <div class="topbar-inner pt-10 pb-10">
                <div class="row">
                    <div class="col-6">
                            <ul>
                                <li><span class="font-small"><i class="ti-calendar mr-5"></i>{{ site.time | date: "%-d %B %Y"}}</span></li>
                            </ul>
                    </div>
                    <div class="col-6 text-right">
                        <ul class="header-social-network d-inline-block list-inline color-white">
                            <li class="list-inline-item"><a class="social-icon facebook-icon text-xs-center color-white" target="_blank" href="https://www.facebook.com/gradjanskobudjene/"><i class="ti-facebook"></i></a></li>
                            <li class="list-inline-item"><a class="social-icon twitter-icon text-xs-center color-white" target="_blank" href="https://www.youtube.com/channel/UCqhVu0gyYD7i4l-1HzpT6Wg"><i class="ti-youtube"></i></a></li>
                            <li class="list-inline-item"><a class="social-icon pinterest-icon text-xs-center color-white" target="_blank" href="#"><i class="ti-pinterest"></i></a></li>
                            <li class="list-inline-item"><a class="social-icon instagram-icon text-xs-center color-white" target="_blank" href="https://www.instagram.com/gradjansko_budjenje/"><i class="ti-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End top bar-->
    <!--End top bar-->
    <div class="header-logo background-white pt-20 pb-20 d-none d-lg-block">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 align-center-vertical">
                    <a href="/"><img class="logo-img d-inline" src="/assets/imgs/logo-dark.svg" alt="GBihvijesti logo"></a>
                </div>
                <div class="col-lg-8 col-md-12 align-center-vertical d-none d-lg-inline text-right">
                    <a href="#"><img class="ads-img d-inline" src="/assets/imgs/ads-3.webp" alt=""> </a>
                </div>
            </div>
        </div>
    </div>
    <!--End logo-->
    <div class="header-bottom header-sticky background-white text-center">
        <div class="mobile_menu d-lg-none d-block"></div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="off-canvas-toggle-cover">
                        <div class="off-canvas-toggle hidden d-inline-block ml-15" id="off-canvas-toggle">
                            <span></span>
                            <p class="font-small d-none d-md-inline">All Sections</p>
                        </div>
                    </div>
                    <div class="logo-tablet d-md-inline d-lg-none d-none">
                        <a href="/"><img class="logo-img d-inline" src="/assets/imgs/logo-dark.svg" alt="GBihvijesti logo"></a>
                    </div>
                    <div class="logo-mobile d-inline d-md-none">
                        <a href="/"><img class="logo-img d-inline" src="/assets/imgs/logo-dark.svg" alt="GBihvijesti logo"></a>
                    </div>
                    <!-- Main-menu -->
                    <div class="main-nav text-left d-none d-lg-block">
                        <nav>
                            <ul id="navigation" class="main-menu">
                                <li><a href="#">Novosti</a></li>
                                <li><a href="#">Zdravlje</a></li>
                                <li><a href="#">Ekologija</a></li>
                                <li><a href="/o-nama">O nama</a></li>
                                <li><a href="#">Građansko buđenje</a></li>         
                                <li><a href="#">Kontakt</a></li>                                            
                            </ul>
                        </nav>
                    </div>
                    <!-- Search -->
                    <div class="search-button">
                        <button class="search-icon"><i class="ti-search"></i></button>
                        <span class="search-close float-right font-small"><i class="ti-close mr-5"></i>CLOSE</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>