<ul class="uk-slideshow-items">
    {% for post in site.ftags.featured %}
        <li><a href="{{ post.url }}" class="featured">
{{ post.title }}</a></li>
    {% endfor %}
    {% for post in site.posts limit:3 %}
        <li><a href="{{ post.url }}" class="featured">
            <span class="uk-label"></span>
        <div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light" data-src="{{ post.image }}" uk-img>
  <h1>{{ featured.title }} i {{ post.title }}</h1>
</div>

</a></li>
    {% endfor %}
</ul>

<div>
    {% for post in site.posts limit:2 %}
    <div class="uk-card uk-card-default">
        <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle uk-grid" uk-grid="">
                <div class="uk-width-auto uk-first-column">
                    <img class="uk-border-circle" src="https://getuikit.com/assets/uikit/tests/images/avatar.jpg" width="50" alt="">
                </div>
                <div class="uk-width-expand">
                    <h2 class="uk-card-title uk-margin-remove-bottom"><a href="{{ post.url }}" class="featured">
                        {{ post.title }}</a></h2>
                    <p class="uk-text-meta uk-margin-remove-top"><time datetime="{{ featured.date | date_to_xmlschema }}" class="date">
                        {% if site.date_format == nil %}
                            {{ featured.date | date: "%m.%d.%Y" }}
                        {% else %}
                            {{ featured.date | date: site.date_format }}
                        {% endif %}
                    </time></p>
                </div>
            </div>
        </div>
        <div class="uk-card-media">
            <img src="{{ post.image }}" alt="{{ post.alt }}">
        </div>
        <div class="uk-card-body">
            <p>{{ post.subtitle }}</p>
        </div>
    </div>
    {% endfor %}

</div>