{% for post in site.categories.zdravlje %}
<div class="col">
    <div class="post-thumb position-relative">
        <div class="thumb-overlay img-hover-slide border-radius-5 position-relative" style="background-image: url({{post.image}})">
            <span class="top-right-icon background{{post.icon-color}}"><i class="mdi {{post.icon}}"></i></span>
            <a class="img-link" href="{{ post.url }}"></a>
            <div class="post-content-overlay">
                <div class="entry-meta meta-0 font-small mb-10">
                    {% for category in post.categories %}
                    <a href="{{site.baseurl}}/categories.html#{{ category | downcase }}"><span class="post-cat background{{post.icon-color}} color-white">{{category}}</span></a>
                    {% endfor %}
                </div>
                <h6 class="post-title">
                    <a class="color-white" href="{{ post.url }}">{{ post.title }}</a>
                </h6>
                <div class="entry-meta meta-1 font-small color-grey mt-10 pr-5 pl-5">
                    <span class="post-on">{{ post.date | date_to_string }}</span>
                    <span class="hit-count has-dot">23k Views</span>
                    <a class="float-right" href="#"><i class="ti-heart"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
